footer
  .wrapper
    .footer__wrapper
      .upper__footer
        .resume
          ul.list
            li.item
              .logo
                img(src=require("../img/svg/toxin_logo.svg") alt="Логотип TOXIN")
          ul
            li.item
              p
                | &Bcy;&rcy;&ocy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &ncy;&ocy;&mcy;&iecy;&rcy;&ocy;&vcy; &vcy; &lcy;&ucy;&chcy;&shcy;&iecy;&mcy; 
                br
                |  &ocy;&tcy;&iecy;&lcy;&iecy; 2019 &gcy;&ocy;&dcy;&acy; &pcy;&ocy; &vcy;&iecy;&rcy;&scy;&icy;&icy; 
                br
                |  &acy;&scy;&scy;&ocy;&tscy;&icy;&acy;&tscy;&icy;&icy; &laquo;&Ocy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &vcy;&zcy;&gcy;&lcy;&yacy;&dcy;&ycy;&raquo;
        .nav
          ul
            li
              h3.title &Ncy;&Acy;&Vcy;&Icy;&Gcy;&Acy;&TScy;&Icy;&YAcy;
          ul
            li
              a.header__link(href='#!') &Ocy; &ncy;&acy;&scy;
          ul
            li
              a.header__link(href='#!') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
          ul
            li
              a.header__link(href='#!') &Scy;&lcy;&ucy;&zhcy;&bcy;&acy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&icy;
          ul
            li
              a.header__link(href='#!') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
        .about
          ul
            li
              h3.title &Ocy; &Ncy;&Acy;&Scy;
          ul
            li
              a.header__link(href='#!') &Ocy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&iecy;
          ul
            li
              a.header__link(href='#!') &Ncy;&acy;&shcy;&acy; &kcy;&ocy;&mcy;&acy;&ncy;&dcy;&acy;
          ul
            li
              a.header__link(href='#!') &Vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy;
          ul
            li
              a.header__link(href='#!') &Icy;&ncy;&vcy;&iecy;&scy;&tcy;&ocy;&rcy;&ycy;
        .helpdesk
          ul
            li
              h3.title &Scy;&Lcy;&Ucy;&ZHcy;&Bcy;&Acy; &Pcy;&Ocy;&Dcy;&Dcy;&IEcy;&Rcy;&ZHcy;&Kcy;&Icy;
          ul
            li
              a.header__link(href='#!') &Scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&yacy;
          ul
            li
              a.header__link(href='#!') &Scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
          ul
            li
              a.header__link(href='#!') &Scy;&vcy;&yacy;&zcy;&softcy; &scy; &ncy;&acy;&mcy;&icy;
        .subscription
          ul
            li
              h3.title &Pcy;&Ocy;&Dcy;&Pcy;&Icy;&Scy;&Kcy;&Acy;
          ul
            li.item
              p
                | &Pcy;&ocy;&lcy;&ucy;&chcy;&acy;&jcy;&tcy;&iecy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; 
                br
                |  &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; &icy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;
      .down__footer
