header.header
  .wrapper
    .header__wrapper
      a(href="#")        
        
        img(src=require("../img/svg/toxin_logo.svg") alt="Логотип TOXIN") 
      
      nav.header__nav
        ul.list
          li.item
            a.header__link(href='#!') &Ocy; &ncy;&acy;&scy;
          li.item
            a.header__link(href='#!') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
          li.item
            a.header__link(href='#!') &Vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy;
          li.item
            a.header__link(href='#!') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
          li.item
            a.header__link(href='#!') &Scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&yacy;
          li.item
            a.personal__link(href='/')
              img(src=require("../img/svg/sign__in.svg") alt="Войти")              
          li.item
            a.personal__link(href='/')
              img(src=require("../img/svg/sign__up.svg") alt="Зарегистрироваться")