main
  section.desk__zone
    .wrapper
      .main__wrapper
        .find
          .find__form
            h1.find__title Найдём номера под ваши пожелания
            ul
              li
                .forms
                  .coming
                    span.title ПРИБЫТИЕ
                    #input.boxDate
                      .box__date
                        p.date ДД.ММ.ГГГГ
                        img.expand(src=require("../img/svg/expand_more.svg"), alt="")
                        .dateComing-content
                          ul
                            li
                              
                          ul
                            li
                              
                                                
                    
                       
                  .exit
                    span.title ВЫЕЗД
                    .box__date
                      p.date ДД.ММ.ГГГГ
                      img.expand(src=require("../img/svg/expand_more.svg"), alt="")
            ul
              li
                .guests
                  span.title ГОСТИ
                  #dropdownGuests.dropdown__guests
                    .box__guests 
                      p.number__guests Сколько гостей 
                      img.expand(src=require("../img/svg/expand_more.svg"), alt="")
                      .dropdown__guests-content
                        ul
                          li
                            a.header__link(href="#!") Один гость
                        ul
                          li
                            a.header__link(href="#!") Два гостя
                        ul
                          li
                            a.header__link(href="#!") Три гостя
                        ul
                          li
                            a.header__link(href="#!") Толпа  
  
                        
            ul
              li
                a.personal__link(href="/")
                  .pickUpButton
                    p.pickUpButton__title ПОДОБРАТЬ НОМЕР
                    img.arrowForward(src=require("../img/svg/arrow_forwardWhite.svg"), alt="")
                   
                
  
        .slogan
          p
          | Лучшие номера для вашей работы,
          br
          |
          | отдыха и просто вдохновения
          br
          |






//- form(action="" method="GET")
                      input(type="text" id="datepicker")  //