main
  section.desk__zone
    .wrapper
      .main__wrapper
        .find
          .find__form
            h1.find__title Найдём номера под ваши пожелания
        .slogan
          p
          | Лучшие номера для вашей работы,
          br
          |  отдыха и просто вдохновения 
          br
          |