html {
  font-size: 10px;
  box-sizing: border-box;
  user-select: none;
}

*, *::before, *::after {  
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 1.4rem;
  font-weight: normal;
  color: #1F204150;
  
}


.wrapper {
  width: 116rem;
  margin: 0 9%;
  height: 100%;      
}

.title {
  white-space: nowrap;
  font-family: "Montserrat Bold";
  font-size: 1.2rem;
  color: #1F2041;
  text-transform: uppercase;

}

.link {
  text-decoration: none;
  color: #1F204150;
  
}


.link-bold {
  font-family: "Montserrat Bold";
  color: #1F204175;
  line-height: 1.8rem;
}

