html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {  
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 1.4rem;
  font-weight: normal;
  
}


.wrapper {
  max-width: 116rem;
  margin: 0 auto;
  height: 100%;      
}

.title {
  white-space: nowrap;
  font-family: "Montserrat Bold";
  font-size: 1.2rem;
  color: #1F2041;
  text-transform: uppercase;

}