.main__wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;       
    justify-content: space-between;
}

.slogan {
    align-self: end;
    text-align: right;
    line-height: 2.4rem;
}


.desk__zone {
    height: 105vh;
    background: url(/src/assets/img/image-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 1.8rem;
}


.find {
    width: 38rem;
    height: 37.4rem;
    background-color: white;
    align-self: start;    
}

.find__form {
    position: relative;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.find__title {
    font-size: 2.4rem;
    line-height: normal;
    font-family: 'Montserrat Bold';
    margin-bottom: 2.1rem;
    color: #1F2041;
}

.upper__footer {
    padding-top: 10.4rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: start;    
    justify-content: space-between;
    line-height: 2.8;    
}

.resume {
    margin-right: 3.8rem;
}

.nav {
    margin-right: 5.9rem;
}

.about {
    margin-right: 9.2rem;
}

.helpdesk {
    margin-right: 5.1rem;
}

.subscription {
    padding-right: 1.6rem;
    color: #1F2041BF;
}

.title {
    white-space: nowrap;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    color: #1F2041;
}

.down__footer {
    min-height: 7rem;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.copyright {
    margin-right: 67.6rem;
    color: #1F2041BF;
}

.line {
    border-bottom: 0.1rem solid #E5E5E5;
}

.twit {
    margin-right: 2rem;
}


.fb {
    margin-right: 2rem;
}

.inst {
    margin-right: 0rem;  
}



.forms {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.forms:last-child {

    margin-right: 0;

}

.date__box {
    position: relative;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 15rem;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    
}

.date__exiting {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 15rem;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.expand__coming {
    position: absolute;
    left: 12rem;
    top: 3.9rem;
    margin-right: -0.5rem;
}

.expand__exiting {
    position: absolute;
    left: 12rem;
    top: 3.9rem;
    margin-right: -0.5rem;
}


.expand {
    margin-right: 1.5rem;
}

.input-date__click-area {
    position: absolute;
    display: block;
    top: 1.9rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 15rem;
    height: 4.409rem;
}





.guests {
    margin-bottom: 0.5rem;
}

.box__guests {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 100%;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 3.044rem;    
}

.coming {
    
    position: relative;
    margin-right: 2rem;
    
}

.exit {

    position: relative;
    
}

.item__resume {
    line-height: 2.4rem;
    padding-top: 2rem;
}

.pickUpButton {
    position: relative;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    color: white;    
    width: 100%;
    height: 4.4rem;
    border-radius: 3.4rem;
    border:  0.01rem solid #BC9CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
}

.arrowForward {
    position: absolute;
    right: 1.2rem;
}

.arrowForwardLila {
    position: absolute;
    right: 1.3rem;
    background-color: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);    
}

.subscribe__form {
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    

}

.adds {
    position: absolute;
    left: 1.5rem;
}


.dropdown__guests {
    position: relative;
}

.box__date {
    display: flex;
    justify-content: space-between;
}

.dropdown__guests-content {
    display: none;
    position: absolute;
    top: 4.4rem;
    background-color: #FFF;
    min-width: 100%;
    height: 15.9rem;
    padding: 1.56rem 1.5rem;
    border: 0.1rem solid;
    border-color: #1F204150;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}



.number__guests {
    margin-left: 1.5rem;
}

.show {display: block;}

.box__date:last-child {
    margin-right: 0;
}