.main {    
    
    height: 90rem;
    background: url(/src/assets/img/image-bg.jpg) no-repeat center;
    background-size: cover;
    background-position: -1rem 0;
    padding-bottom: 1.9rem;
}

.main-container {
    padding-top: 14rem;
    height: 100%;
    display: flex;
    align-items: flex-start;       
    justify-content: space-between;
    
}

.slogan {
    align-self: end;
    text-align: right;
    line-height: 2.4rem;
}

.find-form {
    width: 38rem;
    height: 37.4rem;
    background-color: white;
    align-self: start;
    position: relative;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.find-form__title {
    font-size: 2.4rem;
    line-height: normal;
    font-family: 'Montserrat Bold';
    margin-bottom: 2.1rem;
    color: #1F2041;
}


.find-form__dates {
    position: relative;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: 100%;
}

.find-form__dates:last-child {
    margin-right: 0;
}

.test {
    display: block;
}

.date-box {
    position: relative;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 15rem;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    
}


.date-coming {    
    position: relative;
    margin-right: 2rem;    
}

.date-leaving {
    position: relative;
    margin-right: 2rem;
}

.expand-coming {
    position: absolute;
    left: 12rem;
    top: 3.9rem;
    margin-right: -0.5rem;
    
}

.expand-leaving {
    position: absolute;
    left: 12rem;
    top: 3.9rem;
    margin-right: -0.5rem;
    
}

.expand-leaving:hover {
    opacity: 0.6;
    transition: 0.5s;
}


.expand-guests {
    position: absolute;
    left: 29rem;
    bottom: 1.7rem;    
}


.find-form__click-area {
    position: absolute;     
    border: 0.1rem solid;
    border-color: #E5E5E5;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: absolute;
    top: 1.9rem;
    bottom: 0;
    left: 0;
    right: 0;    
    width: 100%;
    height: 4.409rem;
    z-index: 2;
    transition: border-color 0.3s, color 1s;
}

.find-form__click-area:hover {
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
    cursor: pointer;
}

.find-form__guests {
    position: relative;
    margin-bottom: 3.044rem;
}

.box-guests {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 100%;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 0.5rem;    
    padding-left: 1.5rem;
    transition: border-color 0.3s, color 1s;
    
    
}

.box-guests:hover {
    cursor: pointer;
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
    
}

.guests__click-area {
    position: absolute;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    width: 100%;
    height: 4.4rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: border-color 0.3s, color 1s;
    bottom: 0rem;
    
 
}

.guests__click-area:hover {
    cursor: pointer;
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
}

.guests__click-area--hovered {
    cursor: pointer;
    border-color: #1F204175;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color 0.3s, color 1s;
}

.pickup-button {
    position: relative;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    color: white;    
    width: 100%;
    height: 4.4rem;
    border-radius: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
}

.pickup-button:hover {
    opacity: 0.6;
    transition: opacity 0.3s, color 1s;
}

.arrow-forward {
    position: absolute;
    right: 1.2rem;
}

.date-box {
    display: flex;
    justify-content: space-between;
}

.guests__dropdown,.convenience__dropdown {
    display: none;
    position: absolute;
    top: 6.2rem;
    left: 0rem;
    background-color: #FFF;
    padding-top: 0.056rem;
    min-width: 100%;
    height: 15.9rem;
    border: 0.1rem solid;
    border-color: #1F204175;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;    
    z-index: 4;

    
}

.guests__dropdown-item,.convenience__dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0.7rem 0 1.1rem

}

.guests__dropdown-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.9rem 0.7rem 0 1.1rem
    
}

.clean {
    background-color: #FFF;
    border-style: none;
    color: #BC9CFF;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    text-transform: uppercase;
}

.apply {
    background-color: #FFF;
    border-style: none;
    color: #BC9CFF;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    text-transform: uppercase;
}

.guests__dropdown-control,.convenience__dropdown-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.math-symbol {
    font-family: 'Montserrat';
    font-size: 1.8rem;
    color: #1F204180;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    border: 0.1rem solid;
    border-color: #1F204140;
    width: 3rem;
    height: 3rem;
    transition: border-color 0.4s, color 1s;
        
}

.math-symbol:hover {
    border-color: #BC9CFF;
    transition: border-color 0.4s, color 1s;
    
}

.math-symbol:focus {
    
    
}

.math-symbol:last-child {
    
    margin-right: 0;
}

.number {
    font-family: "Montserrat Bold";
    color: #1F2041;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.show {display: block;}

.date-box:last-child {
    margin-right: 0;
}
