.upper__footer {
    padding-top: 10.4rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: start;    
    justify-content: space-between;
    line-height: 2.8;    
}

.resume {
    margin-right: 3.8rem;
}

.nav {
    margin-right: 5.9rem;
}

.about {
    margin-right: 9.2rem;
}

.helpdesk {
    margin-right: 5.1rem;
}

.subscription {
    padding-right: 1.6rem;
    color: #1F2041BF;
}

.title {
    white-space: nowrap;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    color: #1F2041;
}

.down__footer {
    min-height: 7rem;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.copyright {
    margin-right: 67.6rem;
    color: #1F2041BF;
}

.line {
    border-bottom: 0.1rem solid #E5E5E5;
}

.twit {
    margin-right: 2rem;
}


.fb {
    margin-right: 2rem;
}

.inst {
    margin-right: 0rem;  
}