.footer-container__upper {
    padding-top: 10rem;
    padding-bottom: 8rem;
    display: flex;
    align-items: start;    
    justify-content: space-between;
    line-height: 1.2rem;
    white-space: nowrap;
    
}

.footer-container__resume {
    margin-right: 4.05%;
    line-height: 2.4rem;
    
}

.resume-text {
    color: #1F2041BF;
    padding-top: 1.7rem;
}

.footer-container__site-map {
    padding-top: 0.4rem;
    display: grid;
    align-items: start;
    margin-right: 4.975%;
    line-height: normal;
}

.footer-nav > :first-child{
    margin-bottom: 2.1rem;
}

.footer-nav .link {
    margin-bottom: 2rem;
}

.footer-container__about {
    padding-top: 0.4rem;
    display: grid;
    align-items: start;
    margin-right: 7.9%;
    line-height: normal;
}

.footer-container__helpdesk {
    padding-left: 0.1rem;
    padding-top: 0.4rem;
    display: grid;
    align-items: start;
    margin-right: 4.4%;
    line-height: normal;
}

.socials {
    display: grid;
    align-items: start;
    line-height: normal;
    padding-left: 0.1rem;
    padding-top: 0.4rem;
    color: #1F2041BF;
}

.socials .title {
    margin-bottom: 1.8rem;
}

.socials__title {
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    
    
}


.socials__item {
    
    line-height: 2.4rem;
}

.arrowForwardLila {
    position: absolute;
    right: 1.3rem;
    background-color: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);    
}


.socials__form {
    margin-top: 2.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 4.4rem;
    border: 0.1rem solid;
    border-color: #1F204140;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.socials__adds {
    color: #1F204150;
    position: absolute;
    top: 1.015rem;
    left: 1.4rem;
}

.footer-container__down {
    padding-right: 0.2rem;
    min-height: 7rem;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.footer-container__copyright {
    margin-right: auto;
    color: #1F2041BF;
}

.footer-container__line {
    border-bottom: 0.1rem solid #E5E5E5;
}

.footer-container__twitter {
    transition: transform .2s;
}

.footer-container__fb {
    margin-left: 1.77%;
    transition: transform .2s;
}

.footer-container__instagram {
    margin-left: 1.92%;
    transition: transform .2s; 
}

.footer-container__twitter:hover {
    transform: scale(1.2);
    transition: transform .2s;
}

.footer-container__fb:hover {
    transform: scale(1.2);
    transition: transform .2s;
}

.footer-container__instagram:hover {
    transform: scale(1.2);
    transition: transform .2s;
}