@use '/src/styles/normalize';
@use '/src/styles/styles';
@use '/src/styles/fonts';
@use '/src/blocks/header/header';
@use '/src/blocks/air-datepicker/air-datepicker';
@use '/src/blocks/footer/footer';
@use '/src/blocks/main/main';


.search-room-container {
    display: flex;
    justify-content: start;
    padding-top: 2rem;
}










.filter {
    width: 26.6rem;
    
}


.dates-residence {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.944rem;
}

.expand-residence {
    position: absolute;
    left: 23.7rem;
    top: 3.6rem;
    
}

.find-form__guests {
    margin-bottom: 3rem;
}

.range {
    margin-bottom: 3.1rem;
}

.range__headlink {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.range__display {
    border: none;
    text-align: right;
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #1F204150;
}

.range__value {
    font-size: 1.2rem;
    border: none;
    text-align: right;
}


.range__description {
    font-size: 1.2rem;
}


.range__slider-range {
    width: 100%;
    margin-bottom: 1.15rem;
    border-radius: 0.6rem;
    height: 0.6rem;
    align-items: center;
}

.container{
    position: relative;
    pointer-events: none;
  }
  
.ui-widget-header {
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%);
    border-color: #66D2EA;
    border-style: solid;
    border-width: 0.1rem;    
}

.ui-slider .ui-slider-handle {    
    top: -0.495rem;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    border: solid 0.2rem;
    border-color: #fff;
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%);
}

.ui-slider .ui-slider-range {    
    height: 0.6rem;
    top: -0.1rem;
}

//-----------------------------------------------------------------

.find-form__rules {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.1rem;
    line-height: 1.8rem;
}

.find-form__container {
    padding-top: 1.65rem;;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1rem;
           
}

.checkbox:last-child {
    margin-bottom: 0;
}

.checkbox__indicator {
    position: relative;
    appearance: none;
    display: block;
    margin-right: 0.97rem;
    height: 2rem;
    width: 2rem;
    border: solid 0.1rem #1F204125;
    border-radius: 0.4rem;
    transition: border-color 0.3s, color 1s;
}

.checkbox__container {
    padding-top: 0.12rem;
}

.checkbox__sub-container {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.checkbox__indicator:hover {
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
}

.checkbox__indicator:checked {
    border-color: #BC9CFF;
    transition: border-color 0.3s, color 1s;
}

.checkbox__indicator:checked::before {
    content: "";
    position: absolute;
    display: block;
    width: 0.6rem;
    height: 0.8rem;
    left: 0.6rem;
    bottom: 0.9rem;
    background-color:#fff;
    transform: rotate(45deg);
    z-index: 2;    
}

.checkbox__indicator:checked::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0.6rem;
    height: 0.8rem;
    left: 0.6rem;
    bottom: 0.6rem;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);
    z-index: 1;
}

.find-form__accessibility {
    margin-bottom: 3.04rem;
}

.find-form__convenience {
    position: relative;
    margin-bottom: 3rem;
}

.convenience__click-area {
    position: absolute;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    height: 4.4rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: border-color 0.3s, color 1s;
    width: 100%;
    top: 1.9rem;
    
}

.convenience__click-area:hover {
    cursor: pointer;
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
}

.convenience__click-area--hovered {
    cursor: pointer;
    border-color: #1F204175;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color 0.3s, color 1s;
}

.convenience__dropdown {
    display: none;
    position: absolute;
    top: 6.23rem;    
    background-color: #FFF;
    padding-top: 0.056rem;
    min-width: 100%;
    height: auto;
    border: 0.1rem solid;
    border-color: #1F204175;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 0.7rem;   
    z-index: 3;
}

.rooms {
    padding-left: 6rem;
    padding-bottom: 7rem;
}

.rooms-list {
    
    padding-top: 0.3rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: #1F2041;
}

.rooms-list__title {
    margin-bottom: 2rem;
}

.rooms-item {
    width: 27rem;
    height: 25.7rem;
    border-radius: 0.4rem;
    overflow: hidden;
}

.rooms-item__container {
    padding: 1rem 1.7rem 1rem 2rem;
}

.rooms-item__image {
    width: 27rem;
    height: 15.1rem;
}

.rooms-item__image img {
    width: 27rem;
    height: 15.1rem;
}

.rooms-item__description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.rooms-item__description-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #1F204110 0.11rem solid;
    padding-bottom: 0.4rem;
}

.rooms-item__room {
    font-size: 1.4rem;
    font-weight: bold;
}

.rooms-item__room-number {
    font-size: 1.9rem;
    font-weight: bold;
    margin-left: 0.4rem;
    margin-right: 0.7rem;
}

.rooms-item__room-type {
    font-size: 1.2rem;
    color: #BC9CFF;
}

.rooms-item__cost {
    padding-bottom: 0.5rem;
}

.rooms-item__cost-number {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1F204150;
    margin-right: 0.4rem;
}

.rooms-item__cost-title {
    font-weight: normal;
    font-size: 1.2rem;
    color: #1F204150;
}

.rooms-item__description-down {
    padding-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.rooms-item__star {
    margin-right: 0.35rem;
}




.rooms-item__review {
    font-size: 1.4rem;    
    color: #1F204150;
    padding-top: 0.8rem;
    line-height: 1.8rem;
}

.rooms-item__review-numbers {
    font-weight: bold;
}

.rooms-item__review-title {
    font-weight: normal;
}