@use '/src/styles/normalize';
@use '/src/styles/styles';
@use '/src/styles/fonts';
@use '/src/blocks/header/header';
@use '/src/blocks/air-datepicker/air-datepicker';
@use '/src/blocks/footer/footer';
@use '/src/blocks/main/main';


.search-room-container {
    display: flex;
    justify-content: start;
    padding-top: 2rem;
}










.filter {
    width: 26.6rem;
    
}

.filter .find-form__dates

.container-search {
    width: 100%;
    padding-bottom: 1.1rem;
    height: 4.4rem;
}

.dates-residence {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.944rem;
}

.expand-residence {
    position: absolute;
    left: 23.7rem;
    top: 3.6rem;
    
}

.find-form__guests {
    margin-bottom: 3rem;
}

.range {
    margin-bottom: 3.1rem;
}

.range__headlink {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.range__display {
    border: none;
    text-align: right;
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #1F204150;
}

.range__value {
    font-size: 1.2rem;
    border: none;
    text-align: right;
}


.range__description {
    font-size: 1.2rem;
}


.range__slider-range {
    width: 100%;
    margin-bottom: 1.15rem;
    border-radius: 0.6rem;
    height: 0.6rem;
    align-items: center;
}

.container{
    position: relative;
    pointer-events: none;
  }
  
.ui-widget-header {
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%);
    border-color: #66D2EA;
    border-style: solid;
    border-width: 0.1rem;    
}

.ui-slider .ui-slider-handle {    
    top: -0.495rem;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    border: solid 0.2rem;
    border-color: #fff;
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%);
}

.ui-slider .ui-slider-range {    
    height: 0.6rem;
    top: -0.1rem;
}

//-----------------------------------------------------------------

.find-form__rules {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.1rem;
    line-height: 1.8rem;
}

.find-form__container {
    padding-top: 1.65rem;;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1rem;
           
}

.checkbox:last-child {
    margin-bottom: 0;
}

.checkbox__indicator {
    position: relative;
    appearance: none;
    display: block;
    margin-right: 0.97rem;
    height: 2rem;
    width: 2rem;
    border: solid 0.1rem #1F204125;
    border-radius: 0.4rem;
    transition: border-color 0.3s, color 1s;
}

.checkbox__container {
    padding-top: 0.12rem;
}

.checkbox__sub-container {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.checkbox__indicator:hover {
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
}

.checkbox__indicator:checked {
    border-color: #BC9CFF;
    transition: border-color 0.3s, color 1s;
}

.checkbox__indicator:checked::before {
    content: "";
    position: absolute;
    display: block;
    width: 0.6rem;
    height: 0.8rem;
    left: 0.6rem;
    bottom: 0.9rem;
    background-color:#fff;
    transform: rotate(45deg);
    z-index: 2;    
}

.checkbox__indicator:checked::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0.6rem;
    height: 0.8rem;
    left: 0.6rem;
    bottom: 0.6rem;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);
    z-index: 1;
}

.find-form__accessibility {
    margin-bottom: 3.04rem;
}

.find-form__convenience {
    position: relative;
    margin-bottom: 3rem;
}

.convenience__click-area {
    position: absolute;
    border: 0.1rem solid;
    border-color: #E5E5E5;
    height: 4.4rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: border-color 0.3s, color 1s;
    width: 100%;
    top: 1.9rem;
    
}

.convenience__click-area:hover {
    cursor: pointer;
    border-color: #1F204175;
    transition: border-color 0.3s, color 1s;
}

.convenience__click-area--hovered {
    cursor: pointer;
    border-color: #1F204175;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color 0.3s, color 1s;
}

.convenience__dropdown {
    display: none;
    position: absolute;
    top: 6.23rem;    
    background-color: #FFF;
    padding-top: 0.056rem;
    min-width: 100%;
    height: auto;
    border: 0.1rem solid;
    border-color: #1F204175;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 0.7rem;   
    z-index: 3;
}

.rooms {
    padding-left: 6rem;
    padding-bottom: 7rem;
}

.rooms-list {
    
    padding-top: 0.3rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: #1F2041;
    margin: 4rem;
}

.rooms-list__title {
    margin-bottom: 2rem;
    font-family: Quicksand, Open Sans, Arial, serif;
}

.rooms-list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1.2rem;
}

.rooms-item {
    width: 27rem;
    height: 25.7rem;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(31,32,65,.05);
    transition: box-shadow .2s ease;
}

.rooms-item:hover {
    box-shadow: 0 10px 30px rgba(31,32,65,.15)
}


.rooms-item__container {
    padding: 1rem 1.7rem 1rem 2rem;
    
}

.rooms-item__image {
    width: 27rem;
    height: 15.1rem;
}

.rooms-item__image img {
    width: 27rem;
    height: 15.1rem;
}

.rooms-item__description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.rooms-item__description-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #1F204110 0.11rem solid;
    padding-bottom: 0.4rem;
}

.rooms-item__room {
    font-size: 1.4rem;
    font-weight: bold;
}

.rooms-item__room-number {
    font-size: 1.9rem;
    font-weight: bold;
    margin-left: 0.4rem;
    margin-right: 0.7rem;
}

.rooms-item__room-type {
    font-size: 1.2rem;
    color: #BC9CFF;
}

.rooms-item__cost {
    padding-bottom: 0.5rem;
}

.rooms-item__cost-number {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1F204150;
    margin-right: 0.4rem;
}

.rooms-item__cost-title {
    font-weight: normal;
    font-size: 1.2rem;
    color: #1F204150;
}

.rooms-item__description-down {
    padding-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.rooms-item__star {
    margin-right: 0.35rem;
}


.rooms-item__review {
    font-size: 1.4rem;    
    color: #1F204150;
    padding-top: 0.8rem;
    line-height: 1.8rem;
}

.rooms-item__review-numbers {
    font-weight: bold;
}

.rooms-item__review-title {
    font-weight: normal;
}


.page-title {
    text-align: center;
  }
  

  //------------------------------------------------------
.slider-container {
    position: relative;
    width: 27rem;
    height: 15.1rem;
    margin: 0 auto;
    overflow: hidden;
}
  
.slider-container__slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-container__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4.2rem;
    height: 15.1rem;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    opacity: 0;
  }
  
  
.prev-button {
    left: 0%;
    transition: opacity 0.3s, 0.5s;
    background: linear-gradient(90deg,rgba(0,0,0,.5),rgba(0,0,0,0) 99.99%,hsla(0,0%,100%,0));
    opacity: 0;    
    cursor: default;
}

.prev-button i {
    cursor: pointer;
}

.prev-button:hover {
    background: linear-gradient(90deg,rgba(0,0,0,.5),rgba(0,0,0,0) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.next-button {
    right: 0%;
    transition: opacity 0.3s, 0.5s;
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.5) 99.99%,hsla(0,0%,100%,0));
    opacity: 0;    
    cursor: default;
  }

  .next-button i {
    cursor: pointer;
  }

.next-button:hover {
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.5) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.slider-container__slider:hover ~ .prev-button {
    background: linear-gradient(90deg,rgba(0,0,0,.5),rgba(0,0,0,0) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.slider-container__slider:hover ~ .next-button {
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.5) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.next-button:hover ~ .prev-button {
    background: linear-gradient(90deg,rgba(0,0,0,.5),rgba(0,0,0,0) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.prev-button:hover ~ .next-button {
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.5) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.material-icons, 
.arrow-forward {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga"
}

.slider-container__slider:hover ~ .prev-button {
    background: linear-gradient(90deg,rgba(0,0,0,.5),rgba(0,0,0,0) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.slider-container__slider:hover ~ .next-button {
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.5) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.next-button:hover ~ .prev-button {
    background: linear-gradient(90deg,rgba(0,0,0,.5),rgba(0,0,0,0) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.prev-button:hover ~ .next-button {
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,.5) 99.99%,hsla(0,0%,100%,0));
    opacity: 1;
}

.slider-container__nav {
    position: absolute;
    display: flex;
    width: 4.125rem;
    height: 0.75rem;
    right: 1.5rem;
    bottom: 1.5rem;
    justify-content: space-between;
    
}

.slider-container__point {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 7.5rem;
    border: solid 0.1rem #fff;
}

//---------------------------------------------------------------------------------------------------

.pagination {
    margin-left: auto;
    margin-right: auto;
    width: 24.1rem;
    
}

.pagination__pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.pagination__first-page {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
}

.pagination__page {
    display: flex;
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: none;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

}

.pagination__page:hover {
    background-color: #1F204115;
}

.pagination__page:focus {
    border: 0.1rem solid #BC9CFF;    
}

.pagination__last-page {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%);
    color: #fff;
    border-radius: 2rem;
    border: none;
    width: 4rem;
    height: 4rem;
}

.arrow-forward {
    position: absolute;
    left: 0.9rem;
    bottom: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    
}