.header {
    
    box-shadow: 0 10px 20px rgba(31,32,65,.05);
    z-index: 5;
    position: fixed;
    background-color: #fff;
    width: 100%;
}

.header-container {
    
    min-height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
        
}

.container-logo {
    margin-right: 23.5%;
}


.header__navigation-site {
    min-width: 75.566rem;
}

.header__navigation-mobile {
    display: none;
}

.navigation__list {
    
    display: flex;
    
}

.navigation__item {
    margin-right: 2rem;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    color: #1F2041;
    
}

/**.item__sub {
    line-height: 2.4rem;
    padding-top: 0.7rem;
}**/

.navigation__item:last-child {
    margin-right: 0;
}



.navigation__item:nth-child(8) {
    margin-right: 0;
}

.navigation__expand-link {
    text-decoration: none;
    color: #1F204150;
    margin-right: 0.7rem;
}



.sigh-in-button {
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    width: 8.7rem;
    height: 3.4rem;
    border-radius: 3.4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BC9CFF;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%); 
}

.sigh-in-button::before {
    width: 8.3rem;
    height: 3.0rem;
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    content: "";
    position: absolute;
    margin: auto;    
    border-radius: 3.4rem;
    z-index: 1;
    background: #fff;

}

.sigh-in-button:hover {
    background: linear-gradient(rgba(188, 156, 255, 0.6) 0%, rgb(139, 164, 249, 0.6) 100%);
    
}

.sigh-in-button__title {
    z-index: 5;
}

.sigh-up-button {
    font-family: "Montserrat Bold";
    font-size: 1.2rem;
    color: white;    
    width: 19.6rem;
    height: 3.4rem;
    border-radius: 3.4rem;
    border:  0.01rem solid #BC9CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);   

}

.sigh-up-button:hover {
    opacity: 0.6;
    transition: opacity 0.3s, color 1s;
}

@media (min-width: 1441px) {
    .wrapper {
        min-width: 116rem;
}
}

@media (max-width: 948px) {
    .header__navigation-mobile {
        display: block;        
    }
    .header__navigation-site {
        display: none;
    }
}


